.my_body {
  background: linear-gradient(#8BBCD6, antiquewhite);
  height: 100%;
  min-height: 100vh;
  position: relative;
}
.table_background {
  background-color: antiquewhite;
}
.img_wlcm {
  margin: 25px;
  height: 200px;
  width: 200px;
}

/*@media (max-width: 800px){
  .img_wlcm {display: none;
  }
}*/
.my_maintitle {
  border-style: double;
  text-decoration-color: red;
  margin-bottom: 5px;
}
.my_footer{
  text-align: center;
  background: #336987;
  position: absolute;
  width: 100%;
  bottom: 0;
}
h1{
  text-decoration: underline;
}
.my_header {
  border: 3px solid greenyellow;
}
.my_nav {
  
}
.nav_elm{
  margin: 10px;
  background: #8BBCD6;
}