/*8BBCD6*/
.color_back {
  min-height: 100vh;
  background: linear-gradient(#8BBCD6, antiquewhite);
}
.table_background {
  background-color: antiquewhite;
}
.img_wlcm {
  width: 200px;
  height: 200px;
}

@media (max-width: 800px){
  .img_wlcm {display: none;
  }
}
.my_maintitle {
  border: 3px solid greenyellow;
  border-width: 3px;
  border-style: double;
  border-color: greenyellow;
  color: red;
}